<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adminhome</title>
</head>
<body>
<h1 style="text-align: center">Admin Home</h1>

<a href="/petcare/admin_changepass/">ChangePassword</a><br>


<a href="/petcare/userview/">ViewUser</a><br>
<a href="/petcare/viewcomp/">ViewComplaint</a><br>




<a href="/petcare/adviewshop/">Adminviewshop app/reject</a><br>
<a href="/petcare/adminshopapp/">app shop</a><br>

<a href="/petcare/adminshopreject/">rej shop</a><br>

<a href="/petcare/adminviewdoc/">admin view doc</a><br>
<a href="/petcare/adminappdoc/">app doc</a><br>
<a href="/petcare/adminrejdoc/">rej doc</a><br>


<a href="/petcare/cateview/">Manage category</a><br>

<a href="/petcare/viewfeedback/">View all Feedback</a><br>








</body>
</html>