<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appoiment</title>
</head>
<body>
<table align="center" border="1" class="table table-bordered table-hover">
    <tr>
        <th>Date</th>

        <th>User</th>

        <th>Status</th>
    </tr>
    <tr>
         {% for i in data %}
              <td>{{ i.SCHEDULE.date }}</td>
              <td>{{ i.USER.username }}</td>
              <td>{{ i.status }}</td>
                <td><a href="/petcare/pres/{{ i.id }}"><button class="btn-primary">Add precription</button> </a> </td>
             <td><a href="/petcare/viewpres/{{ i.id }}"><button class="btn-primary">view precription</button> </a> </td>

        {% endfor %}
    </tr>



</table>
</body>
</html>