{% extends "user_index.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>complaint</title>
</head>
<body>
<table align="center">
    <form style="text-align: center" action="/petcare/complaintpost/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <tr>
        <td><label for="date">Date</label></td>
    <td><input type="date"  name="date"></td>
        </tr>

        <tr>
            <td><label for="complaint">Complaint</label></td>
            <td><input type="test" name="complaint" required></td>
        </tr>

        <tr>
    <td><input type="submit" value="Submit"></td>
</tr>

    </form>
</table>
</body>
</html>
{% endblock %}