{% extends "admin_index.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table align="center" border="1" class="table table-bordered table-hover">
    <tr>
        <th>Date</th>

        <th>Status</th>

        <th>Reply</th>

        <th>Complaint</th>
    </tr>

     <tr>
        {% for i in data %}
              <td>{{ i.date }}</td>
              <td>{{ i.status }}</td>
              <td>{{ i.reply }}</td>
              <td>{{ i.complaint }}</td>
             <td><a href="/petcare/admin_reply/{{ i.id }}"><button class="btn-success">Reply</button> </a> </td>
         {% endfor %}
     </tr>

<tr>

</tr>



</table>

</body>
</html>
{% endblock %}