<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order</title>
</head>
<body>
<table align="center">
    <form style="text-align: center" action="/petcare//" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <tr>
       <td> <label for="date">Date</label></td>
           <td> <input type="date" name="date"></td>
        </tr>

        <tr>

        <td> <label for="amount">Amount</label></td>
           <td> <input type="text" name="amount"></td>

        </tr>
        <tr>
            <td><input type="submit"value="submit"></td>
        </tr>
    </form>
</table>

</body>
</html>