{% extends "doc_index.html" %}
{% block body %}
    <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table align="center">
    <form style="text-align: center" action="/petcare/schedulepost/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <tr>
       <td> <label for="date">Date</label></td>
           <td> <input type="date" name="date"></td>
        </tr>

        <td> <label for="fromtime">FromTime</label></td>
           <td> <input type="time" name="fromtime"></td>
        </tr>

        <td> <label for="totime">ToTime</label></td>
           <td> <input type="time" name="totime"></td>
        </tr>

        <tr>
    <td><input type="submit" value="Done"></td>
</tr>

    </form>
</table>
</body>
</html>
{% endblock %}