<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<h1>ShopHome</h1>

<a href="/petcare/admin_changepass/">ChangePassword</a><br>
<a href="/petcare/shopshopview/">View Profile</a><br>



<a href="/petcare/product/">Add Product</a><br>

<a href="/petcare/stock/">Stock Update</a><br>



<a href="/petcare/shopvieworder/">View Order</a><br>

<a href="/petcare/delivery/">Manage Deliveryboy</a><br>

<a href="/petcare/category/">Manage category</a><br>










</body>
</html>