<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title></head>
<body>

<table align="center" border="1" class="table table-bordered table-hover">
    <tr>
        <th>Product</th>

        <th>Stock</th>
    </tr>
    <tr>
        {% for i in data %}
        <td>{{ i.PRODUCT.productname }}</td>
         <td>{{ i.stock }}</td>



        <td><a href="/petcare/stedit/{{ i.id }}" class=" btn btn-outline-warning"> EDIT</a> </td>


    </tr>
    {% endfor %}

</table>
</body>


</html>