{% extends "user_index.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="1" class="table table-bordered table-hover">
    <tr>

        <th>Date</th>

        <th>User</th>

        <th>Amount</th>

        <th>Status</th>

    </tr>

    <tr>
         {% for i in data %}
              <td>{{ i.date }}</td>
              <td>{{ i.USER.username }}</td>
              <td>{{ i.amount }}</td>
             <td>{{ i.status }}</td>


             <td><a href="/petcare/usermore/{{ i.id }}"><button class="btn-danger">More</button> </a> </td>


    </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}