<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userhome</title>
</head>
<body>
<h1 style="text-align: center">User Home</h1>
<a href="/petcare/admin_changepass/">ChangePassword</a><br>
<a href="/petcare/useruserview/">View Profile</a><br>
<a href="/petcare/uservieworder/">View Order</a><br>



<a href="/petcare/complaint/">complaint</a><br>

<a href="/petcare/feedback/">Feedback</a><br>
<a href="/petcare/userviewproduct/">shop</a><br>
<a href="/petcare/viewcart/">View Cart</a><br>

<a href="/petcare/userdocview/">Book Doctor</a><br>










</body>
</html>