<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER EDIT</title>
</head>
<body>

<table align="center">
    <form style="text-align: center" action="/petcare/usereit/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <tr>
       <td> <label for="username">Username</label></td>
            <td> <input type="hidden" name="login" value="{{ data.LOGIN.id}}"></td>


           <td> <input type="text" name="username" value="{{ data.username }}"></td>
        </tr>

        <tr>
            <td><label for="photo">Photo</label></td>
            <td><input type="file" name="photo"></td>
            <td><img src="{{ data.photo }}" height="80px" width="80px"></td>
        </tr>

 <tr>
    <td><label for="gender">Gender</label></td>
    <td>
        <input type="radio" name="gender" value="male" id="male" {% if data.gender == 'male' %}checked{% endif %}>
        <label for="male">Male</label>
        <input type="radio" name="gender" value="female" id="female" {% if data.gender == 'female' %}checked{% endif %}>
        <label for="female">Female</label>
        <input type="radio" name="gender" value="other" id="other" {% if data.gender == 'other' %}checked{% endif %}>
        <label for="other">Other</label>
    </td>
</tr>


<tr>
    <td><label for="dob">Date of Birth:</label></td>
    <td><input type="date"  name="dob" value="{{ data.dob }}"></td>
</tr>

<tr>
    <td><label for="email">Email</label></td>
    <td><input type="email"  name="email" value="{{ data.email }}"></td>
</tr>

<tr>
    <td><label for="phone">Phone</label></td>
    <td><input type="number"  name="phone" value="{{ data.phone }}"></td>
</tr>

<tr>
    <td><label for="place">Place</label></td>
    <td><input type="text"  name="place" value="{{ data.place }}"></td>
</tr>

<tr>
    <td><label for="pincode">PIN</label></td>
    <td><input type="number"  name="pincode" value="{{ data.pin }}"></td>
</tr>

<tr>
    <td><label for="district">District</label></td>
    <td><input type="text"  name="district" value="{{ data.district }}"></td>
</tr>

<tr>
    <td><label for="state">State</label></td>
    <td><input type="text"  name="state" value="{{ data.state }}"></td>
</tr>

<tr>
    <td><label for="password">Password</label></td>
    <td><input type="password"  name="password"></td>
</tr>

<tr>
    <td><label for="conformpassword">conformpassword</label></td>
    <td><input type="password"  name="conformpassword"></td>
</tr>

<tr>
    <td><input type="submit" value="Done"></td>
</tr>



    </form>
</table>
</body>
</html>